<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    {{ form_start(creationForm) }}

      {{ form_widget(creationForm) }}

      <input type="submit" value="Create pin">

    {{ form_end(creationForm) }}

  </body>
</html>