<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    {{ form_start(creationForm) }}

      {{ form_widget(creationForm) }}

        {% if pin == null  %}
        <input type="submit" value="Create pin">
        {% else %}
        <input type="submit" value="edit pin">
        {% endif %}

    {{ form_end(creationForm) }}

  </body>
</html>