<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">

      <a href="{{ path('create_pins') }}">Create a pins</a>

      {% for pin in pins %}

        <article>
          <h1>{{ pin.getTitle() }}</h1>
          <p>{{ pin.getDescription() }}</p>
        </article>

      {% endfor %}

    </div>
  </body>
</html>


