{% extends "base.html.twig" %}

{% block body %}

    <div class="container">

        <article>
          <h1>{{ pin.getTitle() }}</h1>
          <p>{{ pin.getDescription() }}</p>
        </article>
        
        <a href="{{ path("pins") }}">retour</a>

    </div>
  
{% endblock %}
