<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">

        <article>
          <h1>{{ pin.getTitle() }}</h1>
          <p>{{ pin.getDescription() }}</p>
        </article>

    </div>
  </body>
</html>

